body {
    font-family: Monrovia;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
  }
  
  input[type="text"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #8c8c8c;
    outline: none;
  }
  
  .submit-btn {
    background-color: #5b9bd5;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #41729f;
  }
  @media (max-width: 768px) {
    .form-container {
      padding: 50px;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 0 10px;
    }
  
    .nav-links a {
      font-size: 14px;
    }
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 1px;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 5px 0;
    }
  }